<div class="page">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 dashboard-title">
          <div class="dashboard-item" style="background-color:#ef6863;">
            <p class="dashboard-number">64</p>
            <p class="dashboard-item-info">USER</p>
          </div>
        </div>
        <div class="col-md-3 dashboard-title">
          <div class="dashboard-item" style="background-color:#22beef;">
            <p class="dashboard-number">64</p>
            <p class="dashboard-item-info">REQUEST</p>
          </div>
        </div>
        <div class="col-md-3 dashboard-title">
          <div class="dashboard-item" style="background-color:#a2d200;">
            <p class="dashboard-number">64</p>
            <p class="dashboard-item-info">SKILL</p>
          </div>
        </div>
        <div class="col-md-3 dashboard-title">
          <div class="dashboard-item" style="background-color:#d0a8e0;">
            <p class="dashboard-number">64</p>
            <p class="dashboard-item-info">FEEDBACK</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-block">
              <chart [type]="type" [data]="UserData" [options]="options" class="chart-size"></chart>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-block">
              <chart [type]="type" [data]="RequestData" [options]="options" class="chart-size"></chart>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-block">
              <chart [type]="type" [data]="SkillData" [options]="options" class="chart-size"></chart>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-block">
              <chart [type]="type" [data]="FeedbackData" [options]="options" class="chart-size"></chart>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
