<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="nav-side-menu">
    <div class="brand">
      <a class="navbar-brand" href="/">
        <img src="../../images/VinaSwapProjectLogo.png" class="img-fluid"/>
      </a>
    </div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <li routerLink="">
                  <a>
                  <i class="fa fa-tachometer" aria-hidden="true" ></i>
                   Dashboard
                  </a>

                </li>
                <li routerLink="/user" routerLinkActive="active">
                  <a >
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Người dùng
                  </a>
                </li>
                <li routerLink="/skill" routerLinkActive="active">
                  <a >
                  <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                   Kỹ năng
                  </a>

                </li>
                <li routerLink="/news" routerLinkActive="active">
                  <a >
                  <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                  Quản lý tin tức
                  </a>
                </li>
                <li routerLink="/report" routerLinkActive="active">
                  <a >
                  <i class="fa fa-flag" aria-hidden="true"></i>
                   Danh sách Report
                  </a>
                  <!-- <i class="material-icons">report</i> -->
                </li>
                <li  routerLink="/feedback" routerLinkActive="active">
                  <a>
                  <i class="fa fa-flag" aria-hidden="true"></i>
                   Feedback
                  </a>
                  <!-- <i class="material-icons">report</i> -->
                </li>
            </ul>
     </div>
</div>
